<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="css/inputimage.css" />
    <link rel="icon" href="img/logo.png" type="image/png" />
  </head>
  <body>
    <div class="bg">
      <img src="images/logo.png" alt="logo Image" id="logo-image" />
      <div class="heading-text">Lights, Camera, Action!</div>
      <div class="text2">Welcome to your personalized movie haven</div>
      <div class="container">
        <div class="text3">
          Spill the beans! Share your face, we won't judge, just recommend
        </div>
        <br />
        <img src="images/camera.png" alt="Front Image" id="front-image" />
        <div class="buttons">
          <button id="open-camera">Open Camera</button>
          <br />
        </div>
      </div>
    </div>
  </body>
</html>
