<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Log In</title>
<link rel="stylesheet" href="css/login.css">
<link rel="icon" href="images/logo.png" type="image/png" />
</head>
<body>

<div class="bg">
    <!-- <h1 class="title">MOOD FLIX</h1>
    <p style="color: white;">Your perfect flick, every time</p> -->
    <!-- <div class="centered">
        <br>
        <h1 class="title">MOOD FLIX</h1>
        <p style="color: white;">Your perfect flick, every time</p>
      </div> -->
  <img src="images/logo.png" alt="logo Image" id="logo-image" />
  <div class="heading-text"><b>MOOD FLIX</b></div>
  <div class="text2">Your perfect flick, everytime</div>
  <div class="container">
  <form action="/login" method="post" >
    <h1>Log In</h1>    
   
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="btn">Sign Up</button>
    <p>Don't have an account? <a href="/signup">Sign up</a>.</p>
    <!-- <div class="login">
      <p>Don't have an account? <a href="/signup">Sign up</a>.</p>
    </div> -->
  </form>
  </div>
</div>

</body>
</html>
